header{
    background-color: var(--color01);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    font-family: var(--font02);
}

header img{
    width: 150px;
    height: 150px;
}

header h1{
    padding-right: 50px;
    padding-left: 50px;
    width: 400px;
    font-size: 1.5em;
}