header{
    background-color: var(--color01);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    font-family: var(--font02);
    border-top: 25px solid var(--color02);
}

header > div{
    display: inline-flex;
    align-items: center;
    margin: auto;
}

header img{
    max-width: 150px;
    max-height: 150px;
}

header > div > h1{
    max-width: 400px;
    font-size: 1.5em;
}