.fieldset-primeira-parte{
    border: 10px solid;
    border-color: white;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
    background-color: #f0f0f5;
    border-radius: 15px 15px 0px 0px;
    padding: 25px;
}

.title-cadastro{
    text-align: center;
}

.class-agendamento{
    margin: 5px;
}

.class-agendamento-parte-de-cima{
    margin-left: 5px;
    margin-top: 5px;
}

.input-agedamento{
    border: 1px solid;
    display: block;
    border-radius: 5px;
    height: 20px;
    width: 45%;
}

.fieldset-segunda-parte{
    border: 1px solid;
    margin: 0;
    margin-top: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
    background-color: #f0f0f5;
    padding: 25px;
}